---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro';
import About from '../components/About.astro';
import Realisations from '../components/Realisations.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <TrustBar />
    <About />
    <Realisations />
    <Contact />
  </main>
  <Footer />
</Layout>
